<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
  <link rel="shortcut icon" href="./img/fav.png" type="image/x-icon">  
  <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'css/style.css') }}">  
  <title>Sistem de gestionarea bibliotecii</title>
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">

<!-- start navbar -->
<div class="md:fixed md:w-full md:top-0 md:z-20 flex flex-row  items-center bg-white p-6 border-b border-gray-300">
    
    <!-- logo -->
    <div class="flex-none w-56 flex flex-row items-center">
      <img src="{{ url_for('static',filename= 'img/logo.png')}}" class="w-10 flex-none">
      <strong class="capitalize ml-1 flex-1">Sistem de gestionarea bibliotecii</strong>

      <button id="sliderBtn" class="flex-none text-right text-gray-900 hidden md:block">
        <i class="fad fa-list-ul"></i>
      </button>
    </div>
    <!-- end logo -->   
    
    <!-- navbar content toggle -->
    <button id="navbarToggle" class="hidden md:block md:fixed right-0 mr-6">
      <i class="fad fa-chevron-double-down"></i>
    </button>
    <!-- end navbar content toggle -->

    <!-- navbar content -->
    <div id="navbar" class="animated md:hidden md:fixed md:top-0 md:w-full md:left-0 md:mt-16 md:border-t md:border-b md:border-gray-200 md:p-10 md:bg-white flex-1 pl-3 flex flex-row flex-wrap justify-between items-center md:flex-col md:items-center">
      <!-- left -->
      <div class="text-gray-600 md:w-full md:flex md:flex-row md:justify-evenly md:pb-10 md:mb-10 md:border-b md:border-gray-200">
        </div>
      <!-- end left -->      

      <!-- right -->
      <div class="flex flex-row-reverse items-center"> 

        <!-- user -->
        <div class="dropdown relative md:static">

          <button class="menu-btn focus:outline-none focus:shadow-outline flex flex-wrap items-center">
            <div class="w-8 h-8 overflow-hidden rounded-full">
              <img class="w-full h-full object-cover" src="{{ url_for('static',filename='img/user.svg') }}" >
            </div> 

            <div class="ml-2 capitalize flex ">
              <i class="fad fa-chevron-down ml-2 text-xs leading-none"></i>
            </div>                        
          </button>
        </div>
    
      </div>
      <!-- end user -->

                 


      </div>
      <!-- end right -->
    </div>
    <!-- end navbar content -->

  </div>
<!-- end navbar -->


<!-- strat wrapper -->
<div class="h-screen flex flex-row flex-wrap">
  
    <!-- start sidebar -->
  <div id="sideBar" class="relative flex flex-col flex-wrap bg-white border-r border-gray-300 p-6 flex-none w-64 md:-ml-64 md:fixed md:top-0 md:z-30 md:h-screen md:shadow-xl animated faster">
    

    <!-- sidebar content -->
    <div class="flex flex-col">

      <!-- sidebar toggle -->
      <div class="text-right hidden md:block mb-4">
        <button id="sideBarHideBtn">
          <i class="fad fa-times-circle"></i>
        </button>
      </div>
      <!-- end sidebar toggle -->
      <p class="uppercase text-xs text-gray-600 mb-4 tracking-wider">acasă</p>
        
        {% if current_user.role in ['admin', 'librarian'] %}
      <!-- link -->
      <a href="/" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-chart-pie text-xs mr-2"></i>                
       Meniu
      </a>
      <!-- end link -->
      {% endif %}

      {% if current_user.is_authenticated and current_user.__class__.__name__ == 'Member' %}
        
        <a href="{{ url_for('member_dashboard') }}" class="mb-3 font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
          <i class="fad fa-chart-pie text-xs mr-2"></i>  
          Profil
        </a>
      {% endif %}
      {% if current_user.role == 'librarian' %}
      <!-- link -->
      <a href="{{ url_for('librarian_dashboard') }}" class="mb-3 font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-chart-pie text-xs mr-2"></i>  
        Profil
      </a>
      <!-- end link -->
      {% endif %}
      {% if current_user.role == 'admin' %}
      <!-- link -->
      <a href="{{ url_for('admin_dashboard') }}" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-chart-pie text-xs mr-2"></i>  
        Profil
      </a>
      <!-- end link -->
      {% endif %}
      <p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">CARTE</p>

      <!-- link -->
      <a href="/view_books" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-book text-xs mr-2"></i>
        Cărți
      </a>
      <!-- end link -->
      {% if current_user.is_authenticated and 'member' in current_user.get_id() %}
      
      <a href="{{ url_for('member_history') }}" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-book text-xs mr-2"></i>
        Istoric lecturi
      </a>
      {% endif %}
  
      {% if current_user.role in ['admin', 'librarian'] %}
      <!-- link -->
      <a href="/add_book" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-book text-xs mr-2"></i>
        Adăugare carte
      </a>
      <!-- end link -->
       <!-- link -->
      <a href="/add_genre" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-book text-xs mr-2"></i>
        Adăugare gen
      </a>
      <!-- end link -->

      <!-- link -->
      <a href="/issuebook" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-book text-xs mr-2"></i>
        Împrumută Carte
      </a>
      <!-- end link -->
      <!-- link -->
      <a href="/import_book" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-book text-xs mr-2"></i>
        Returnare Carte
      </a>
      <!-- end link -->
      
      <p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">Utilizatori</p>

      <!-- link -->
      <a href="/view_members" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-user-friends text-xs mr-2"></i>
        Utilizatori
      </a>
      <!-- end link -->
      {% endif %}
      {% if current_user.role == 'admin' %}
      <p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">Administrare</p>
      <a href="/add_librarian" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
          <i class="fad fa-user-plus text-xs mr-2"></i>
          Adaugă bibliotecar
      </a>
      <a href="/view_users" class="mb-3 font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
          <i class="fad fa-users text-xs mr-2"></i>
          Vezi lucrători
      </a>

       <!-- link -->
       <a href="/add_member" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fad fa-whistle text-xs mr-2"></i>
        Adăugare utilizator
      </a>
      <!-- end link -->
      {% endif %}

      {% if current_user.role in ['admin', 'librarian'] %}

      <!-- link -->
      <p class="uppercase text-xs text-gray-600 mb-4 mt-4 tracking-wider">Tranzacții </p>

      <!-- link -->
      <a href="/transactions" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
        <i class="fas fa-exchange-alt text-xs mr-2"></i>
        Tranzacții
      </a>
      <!-- end link -->
       {% endif %}
      <!-- link -->
       <!-- Exemplu simplu de buton în navbar -->
      {% if current_user.is_authenticated %}
        <div class="mt-8 border-t border-gray-200 pt-4">
          <a href="{{ url_for('logout') }}" class="flex items-center capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
            <i class="fad fa-sign-out text-xs mr-2 text-gray-500 hover:text-teal-600"></i>
            <span class="text-gray-700 hover:text-teal-600">Deconectare</span>
          </a>
        </div>
      {% endif %}


    </div>
    <!-- end sidebar content -->

  </div>
  <!-- end sidbar -->

  <!-- strat content -->
  <div class="bg-gray-100 flex-1 p-6 md:mt-16">

      <!-- Display the flash messages -->
      <!-- Display the flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul>
            {% for category, message in messages %}
              {% if category == 'success' %}
                <li><div class="alert alert-success mb-5 bg-green-500 text-white p-3 rounded" style="text-transform: none;">{{ message }}</div></li>
              {% elif category == 'error' %}
                <li><div class="alert alert-error mb-5 bg-red-500 text-white p-3 rounded" style="text-transform: none;">{{ message }}</div></li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}
    {% block content %}


    {% endblock  %}
  </div>
  <!-- end content -->

</div>
<!-- end wrapper --> 

  

<!-- script -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<!-- end script -->

</body>
</html>
