{% extends 'base.html' %}
{% block content %}

<div class="container mx-auto mt-10">
    <h1 class="text-3xl font-semibold mb-4">Detalii Utilizator</h1>
    <div class="bg-white p-6 rounded shadow">
        <h2 class="text-xl font-semibold mb-2">{{ member.name }}</h2>
        <p class="text-gray-600">{{ member.address }}</p>
        <p class="text-gray-600">{{ member.phone }}</p>
        <p class="text-gray-600" style="text-transform: none;">{{ member.email }}</p>
    </div>
    <div class="bg-white mt-4 p-6 rounded shadow">
        <h2 class="text-xl font-semibold mb-2">Tranzacții</h2>
        {% if trans %}
            <table class="table-auto w-full">
                <thead>
                    <tr>
                        <th class="border px-4 py-2">ID</th>
                        <th class="border px-4 py-2">Titlu</th>
                        <th class="border px-4 py-2">Autor</th>
                        <th class="border px-4 py-2">ISBN</th>
                        <th class="border px-4 py-2">Data Împrumutului</th>
                        <th class="border px-4 py-2">Data Returnării</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for t, book in trans %}
                    <tr>
                        <td class="border px-4 py-2"><a class="text-green-500" href="/returnbook/{{ t.id }}">{{ t.id }}</a></td>
                        <td class="border px-4 py-2">{{ book.title }}</td>
                        <td class="border px-4 py-2">{{ book.author }}</td>
                        <td class="border px-4 py-2">{{ book.isbn }}</td>
                        <td class="border px-4 py-2">{{ t.issue_date.date() }}</td>
                        <td class="border px-4 py-2">{{ t.return_date.date() or 'Neînchis încă' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>        
        {% else %}
            <p class="text-gray-600">Nu au fost găsite tranzacții pentru acest membru.</p>
        {% endif %}
    </div>
</div>
{% endblock %}